.App {
    margin: 0 auto;
    font-size: 1.5rem;
} 
.post h2{
    color: rgb(60, 60, 245);
    font-size: 20px;
    padding: 10px;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 0px 8px 0px;
    border-bottom: none;
    border-left: none;
    max-width: 6rem;
}
.post-hr{
    border: 1px solid rgb(221, 221, 221);
    margin-top: -17px;
    margin-left: 116px;
}

@media only screen and (max-width: 768px) {
    .post h2 {
        /* max-width: 100%;  */
        margin-left: 0; 
        border-radius: 8px 8px 0px 0px;
    }
    .post-hr {
        margin-left: 0; 
    }
    .App{
        font-size: 1rem;
    }
    .post-hr{
        margin-left: 116px;
    }
}
